@import "tailwindcss";

@layer utilities {
    .text-shadow-sm {
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    }
}

@keyframes scan {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.animate-scan {
    animation: scan 2s linear infinite;
}